= {{title}}
:doctype: book
:front-cover-image: image::logo.png[width=150, align=center]
:page-layout: title
:author: {{metadata.author}}
:email: {{metadata.author_email}}
:revnumber: {{metadata.version}}
:revdate: {{metadata.date}}

[.text-center]
++++
<div style="margin-top: 4cm; font-size: 1.5em;">
  <p><strong>{{title}}</strong></p>
  <p style="margin-top: 1.5cm; font-size: 1.2em;">
    Author: {{metadata.author}}<br/>
    Email: {{metadata.author_email}}<br/>
    Version: {{metadata.version}}<br/>
    Date: {{metadata.date}}
  </p>
</div>
++++

<<<

:toc:
:toclevels: 3
:sectnums:

:leveloffset: +1
{{#documents}}

{{#dynamic_section}}{{/dynamic_section}}

{{/documents}}
:leveloffset: -1